{% extends 'base.html.twig' %}

{% block body %}
    <h1>Disponibility</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ disponibility.id }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{% if disponibility.starttime %}{{ disponibility.starttime|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{% if disponibility.endtime %}{{ disponibility.endtime|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Taughtlanguage</th>
                <td>{{ disponibility.taughtlanguage }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{% if disponibility.day %}{{ disponibility.day|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('disponibility_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('disponibility_edit', { 'id': disponibility.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
